NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WOOCOMMERCE_URL=

WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=

PAYMENT_ENABLED_PROVIDERS=gpay_qr,onepay_card,cash_agent

# GPay
GPAY_ENV=
GPAY_BASE_URL=
GPAY_CLIENT_ID=
GPAY_CLIENT_SECRET=
GPAY_MERCHANT_CODE=
GPAY_STORE_CODE=
GPAY_PRIVATE_KEY_PATH=
GPAY_PUBLIC_KEY_PATH=

# OnePay
ONEPAY_ENV=
ONEPAY_PAYMENT_URL=
ONEPAY_QUERY_URL=
ONEPAY_MERCHANT_ID=
ONEPAY_ACCESS_CODE=
ONEPAY_SECURE_SECRET=
ONEPAY_RETURN_URL=
ONEPAY_IPN_URL=

# Cash
CASH_PAYMENT_ENABLED=true
